In [2]:
# Connect to the database
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

password = getpass.getpass()
engine = f'mysql+pymysql://root:password@localhost/datajobs'

········

In [3]:
data = '''select *
from alldata a
left join description d
on a.position_id = d.position_id'''

In [7]:
data = pd.read_sql(data, engine) #turn the query into a pandas dataframe
data

,position_id,position,company,reviews,location,state,zip_code,position_id,description
0,1,Development Director,ALS TDI,NaN,Atlanta,GA,30301,1,Development Director\nALS Therapy Development ...
1,2,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,NaN,Atlanta,GA,,2,"Job Description\n\n""The road that leads to acc..."
2,3,Data Scientist,Xpert Staffing,NaN,Atlanta,GA,,3,"Growing company located in the Atlanta, GA are..."
3,4,Data Analyst,Operation HOPE,44.0,Atlanta,GA,30303,4,DEPARTMENT: Program OperationsPOSITION LOCATIO...
4,5,Assistant Professor -TT - Signal Processing & ...,Emory University,550.0,Atlanta,GA,,5,DESCRIPTION\nThe Emory University Department o...
...,...,...,...,...,...,...,...,...,...
6948,6444,"Staff Scientist, Protein Therapeutics",Nektar,3.0,San Francisco,CA,,6444,Nektar has an exciting opportunity available f...
6949,6461,"Scientist, Cancer Immunology Biology",Pfizer,4214.0,San Francisco,CA,,6461,"A career at Pfizer offers opportunity, ownersh..."
6950,6518,Developer Evangelist - Data Science and Deep L...,Samsung NEXT,NaN,San Francisco,CA,,6518,Samsung NEXT’s MissingLink product team is in ...
6951,6670,Data Scientist - Statistics,Intrexon Corporation.,NaN,South San Francisco,CA,,6670,DUTIES AND RESPONSIBILITIES:\nWork with divers...
6952,6757,Senior Data Scientist / Machine Learning Engineer,Jobspring Partners,27.0,Sunnyvale,CA,,6757,Our client is a well funded mature startup in ...

In [10]:
data.shape

(6953, 9)

In [8]:
data['description'].describe()

count                                                  6953
unique                                                 6708
top       Note: By applying to this position your applic...
freq                                                      9
Name: description, dtype: object

In [9]:
data.isnull().any()

position_id    False
position       False
company        False
reviews         True
location       False
state          False
zip_code       False
position_id    False
description    False
dtype: bool

In [11]:
#drop the two position_id columns that we use to join the two table in sequel

data.drop(['position_id', 'position_id'], axis=1, inplace=True)

In [12]:
data.shape

(6953, 7)

In [13]:
data.head()

,position,company,reviews,location,state,zip_code,description
0,Development Director,ALS TDI,NaN,Atlanta,GA,30301,Development Director\nALS Therapy Development ...
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,NaN,Atlanta,GA,,"Job Description\n\n""The road that leads to acc..."
2,Data Scientist,Xpert Staffing,NaN,Atlanta,GA,,"Growing company located in the Atlanta, GA are..."
3,Data Analyst,Operation HOPE,44.0,Atlanta,GA,30303,DEPARTMENT: Program OperationsPOSITION LOCATIO...
4,Assistant Professor -TT - Signal Processing & ...,Emory University,550.0,Atlanta,GA,,DESCRIPTION\nThe Emory University Department o...