In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('/Users/claudia/Ironhack/Week3/goup_project/repository_github/CleaningData_GroupProject/merged.csv')

In [3]:
data.head()

,ID,position,company,reviews,location,zip_code,description,name,size,industry,country
0,5317,Field Application Scientist - Boston,10x Genomics,NaN,Boston,NaN,Region: Boston\n\nThe Field Applications Scien...,10x genomics,201-500,biotechnology,united states
1,3124,Validation Scientist,23andMe,4.0,Mountain View,94041.0,23andMe is seeking a talented Validation Scien...,23andme,501-1000,biotechnology,united states
2,1559,Scientist / Senior Scientist - Computational B...,23andMe,4.0,Mountain View,94041.0,With the world’s largest database of more than...,23andme,501-1000,biotechnology,united states
3,3076,Population Geneticist - Ancestry Research,23andMe,4.0,Mountain View,94041.0,We are seeking colleagues with extensive train...,23andme,501-1000,biotechnology,united states
4,2764,"Senior Product Manager, Research Tools",23andMe,4.0,Mountain View,94041.0,Who we are\n\n23andMe’s mission is to help ind...,23andme,501-1000,biotechnology,united states

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4099 entries, 0 to 4098
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4099 non-null   int64
 1   position     4099 non-null   object
 2   company      4099 non-null   object
 3   reviews      3404 non-null   float64
 4   location     4099 non-null   object
 5   zip_code     1472 non-null   float64
 6   description  4099 non-null   object
 7   name         4099 non-null   object
 8   size         4099 non-null   object
 9   industry     4099 non-null   object
 10  country      4099 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 352.4+ KB

In [5]:
data.shape

(4099, 11)

In [7]:
data['size'].value_counts()

10001+        1349
1001-5000      816
51-200         590
201-500        464
11-50          340
501-1000       312
5001-10000     228
Name: size, dtype: int64

In [8]:
data['industry'].value_counts()

internet                               557
computer software                      446
biotechnology                          398
information technology and services    245
financial services                     234
                                      ...
luxury goods & jewelry                   1
law practice                             1
graphic design                           1
professional training & coaching         1
gambling & casinos                       1
Name: industry, Length: 102, dtype: int64

In [14]:
data.isna().sum()

ID                0
position          0
company           0
reviews         695
location          0
zip_code       2627
description       0
name              0
size              0
industry          0
country           0
dtype: int64

In [17]:
unique_values = list(np.unique(data['industry']))
unique_values

['accounting',
 'airlines/aviation',
 'apparel & fashion',
 'architecture & planning',
 'automotive',
 'aviation & aerospace',
 'banking',
 'biotechnology',
 'broadcast media',
 'capital markets',
 'chemicals',
 'civic & social organization',
 'civil engineering',
 'commercial real estate',
 'computer & network security',
 'computer games',
 'computer hardware',
 'computer networking',
 'computer software',
 'construction',
 'consumer electronics',
 'consumer goods',
 'consumer services',
 'defense & space',
 'design',
 'e-learning',
 'education management',
 'electrical/electronic manufacturing',
 'entertainment',
 'environmental services',
 'events services',
 'executive office',
 'facilities services',
 'farming',
 'financial services',
 'food & beverages',
 'food production',
 'gambling & casinos',
 'government administration',
 'government relations',
 'graphic design',
 'health, wellness and fitness',
 'higher education',
 'hospital & health care',
 'hospitality',
 'human resources',
 'individual & family services',
 'information services',
 'information technology and services',
 'insurance',
 'international affairs',
 'international trade and development',
 'internet',
 'investment banking',
 'investment management',
 'law enforcement',
 'law practice',
 'legal services',
 'leisure, travel & tourism',
 'logistics and supply chain',
 'luxury goods & jewelry',
 'machinery',
 'management consulting',
 'market research',
 'marketing and advertising',
 'mechanical or industrial engineering',
 'media production',
 'medical devices',
 'mental health care',
 'mining & metals',
 'museums and institutions',
 'newspapers',
 'non-profit organization management',
 'oil & energy',
 'online media',
 'outsourcing/offshoring',
 'performing arts',
 'pharmaceuticals',
 'philanthropy',
 'photography',
 'primary/secondary education',
 'professional training & coaching',
 'public policy',
 'public relations and communications',
 'public safety',
 'publishing',
 'real estate',
 'renewables & environment',
 'research',
 'restaurants',
 'retail',
 'semiconductors',
 'sporting goods',
 'sports',
 'staffing and recruiting',
 'telecommunications',
 'think tanks',
 'transportation/trucking/railroad',
 'utilities',
 'venture capital & private equity',
 'wholesale',
 'wireless']